# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!boards
!boards/*
!common
!common/*
!components
!components/*
!devices
!devices/*
!sensors
!sensors/*
!*.yaml
!.gitignore
!.github
!.github/*
!LICENSE
!.esphome

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
/secrets.yaml